@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Inter , sans-serif";
    color: var(--color-heading);
}

:root {
    --main-color: #0d47a1;
    --p-color: #424242;
    --bg-color: #f5f5f5;
    --white-color: #ffffff;
    --color-heading: #121416;
    --border-color: #e0e0e0;
    --sale-color: #ff9800;
}

body {
    padding-top: 170px;
}

span {
    color: var(--main-color);
}

p {
    color: var(--p-color);
}

img {
    width: 100%;
}

input , select , button {
    border: none;
    outline: none;
}

.btns {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn {
    background-color: var(--main-color);
    color: var(--white-color);
    display: flex;
    align-items: center;
    text-transform: capitalize;
    padding: 10px 18px;
    border-radius: 2px;
    cursor: pointer;
    gap: 10px;
    transition: 0.3s;
}

.btn i {
color: var(--white-color);
}

.btn:hover {
    scale: 1.1;
}

.logo {
    cursor: default;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-heading);
    font-family: "DM Sans , sans-serif";
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1350px;
}

@media (max-width:1350px) {
    .container {
        width: 90%;
    }
}



/* FULL MOBILE RESPONSIVE FIX */
@media (max-width: 768px) {

body {
    padding-top: 140px;
}

/* ----- HEADER FIX ----- */
header .top_header .container {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

header .top_header .search_box {
    width: 100%;
    flex-wrap: wrap;
}

header .top_header .search_box select {
    width: 100%;
    margin-right: 0;
    border-bottom: 1px solid #ccc;
}

header .top_header .search_box input {
    width: 100%;
}

header .top_header .search_box button {
    width: 100%;
    margin-top: 10px;
}

header .bottom_header .container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

header .bottom_header nav {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

header .bottom_header .nav_links {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

/* ----- SLIDER FIX ----- */
.slider .container {
    flex-direction: column;
    gap: 15px;
}

.slider .container .slide-swp {
    width: 100% !important;
}

.slider .banner_2 {
    width: 100% !important;
}

/* ----- BANNERS FIX ----- */
.banners_4 .container {
    flex-direction: column;
    gap: 20px;
}

.banners_4 .box {
    width: 100% !important;
    flex-direction: row;
    align-items: center;
}

.banners_4 .box img {
    width: 120px !important;
    height: auto;
}

.banners_4 .box .text {
    position: static !important;
    margin-left: 10px;
}

.banners_4 .box .sale {
    align-items: center;
}

/* ----- LOGIN BUTTONS FIX ----- */
.btns {
    width: 100%;
    justify-content: space-between;
}

.btns .btn {
    width: 48%;
    justify-content: center;
    text-align: center;
}
}





/* start header */

header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 5px 8px 8px #d1d1d13b;
    z-index: 9999;
}

header .top_header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
}

header .top_header .logo {
    width: 180px;
}

header .top_header .search_box {
    width: 610px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    background-color: var(--bg-color);
}

header .top_header .search_box input {
    height: 55px;
    width: 400px;
    padding: 5px 15px 5px 10px;
    background-color: var(--bg-color);
    outline: none;
    border: none;
}

header .top_header .search_box .select_box {
    position: relative;
}

header .top_header .search_box .select_box::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: o;
    width: 1px;
    height: 50%;
    background-color:#b9b9b9;
}

header .top_header .search_box select {
    height: 55px;
    width: 190px;
    outline: none;
    border: none;
    background-color: var(--bg-color);
    font-size: 16px;
    cursor: pointer;
    padding-left: 10px;
    margin-right: 10px;
}

header .top_header .search_box select option {
    font-size: 15px;
}

header .top_header .search_box button {
    height: 55px;
    width: 60px;
    background-color: var(--main-color);
    cursor: pointer;
    font-size: 18px;
}

header .top_header .search_box button i {
    color: var(--white-color);

}

header .top_header .header_icons {
    display: flex;
    gap: 30px;
}

header .top_header .header_icons .icon {
    position: relative;
    cursor: pointer;
}

header .top_header .header_icons .icon i {
    font-size: 25px;
    color: black;
}

/* .heart {
    color: red;
} */

/* .cart {
    color: black;
} */

header .top_header .header_icons .icon .count {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 11px;
    border-radius: 100%;
}

header .bottom_header {
    border-top: 1px solid var(--border-color);
}

header .bottom_header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .bottom_header nav {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 60px;
}

header .bottom_header .category_nav {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 60px;
    position: relative;
    width: 220px;
}

header .bottom_header .category_nav .category_button {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    cursor: pointer;
    background-color: var(--main-color);
    gap: 20px;
    flex-direction: row;
}

header .bottom_header .category_nav .category_button p {
    color: var(--white-color);
    font-size: 15px;
    font-weight: 600;
    width: 300px;
}

header .bottom_header .category_nav .category_button i {
    color: var(--white-color);
}

header .bottom_header .category_nav .category_nav_list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    border: 1px solid #999;
    border-top: 0px;
    display: flex;
    flex-direction: column;
    clip-path: polygon(0 0 , 100% 0 , 100% 0 , 0 0);
    transition: 0.3s ease-in-out;
}

header .bottom_header .category_nav .category_nav_list.active{
    clip-path: polygon(0 0, 100% 0, 100% 100% ,0 100%);
}

header .bottom_header .category_nav .category_nav_list a {
    padding: 14px 10px;
    border: 1px solid var(--border-color);
    font-size: 14px;
    color: var(--color-heading);
}

header .bottom_header .category_nav .category_nav_list a:last-child {
    border-bottom: 0;
}

header .bottom_header .category_nav .category_nav_list a:hover {
    background-color: #d0d0d0;
}

header .bottom_header .nav_links {
    display: flex;
    gap: 35px;
}

header .bottom_header .nav_links li a {
    transition: 0.3s;
    color: var(--color-heading);
}

header .bottom_header .nav_links li:hover a,
header .bottom_header .nav_links .active a {
    color: var(--main-color);
}


/* slide */

.slider {
    position: relative;
}

.slider .container {
    display: flex;
    justify-content: space-between;
}

.slider .banner_2 {
    width: 23%;
    height: 100%;
    object-fit: cover;
}

.slider .banner_2 a {
    height: 100%;
    width: 100%;
}


.slider .container .slide-swp {
    width: 75%;
    overflow: hidden;
    position: relative;
}

.swiper-wrapper {
    height: auto !important;
}

.slider .container .slide-swp .swiper-pagination span {
    background-color: #fff;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--main-color) !important;
    width: 35px !important;
    height: 8px !important;
    border-radius: 30px !important;
}


/* banners_4 */

.banners_4 {
    margin: 40px 0px;
}

.banners_4 .container {
    display: flex;
    justify-content: space-between;
}

.banners_4 .container .box {
    width: 24%;
    background: url(../img/bg_banner3.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 10px;
    position: relative;
    margin-top: 30px;
    transition: 0.3 ease;
}

.banners_4 .container .box:hover {
    scale: 1.05;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.18);
}

.banners_4 .container .box img {
    width: 100px;
    transition: 0.3s;
}

.banners_4 .container .box img:hover {
    scale: 1.1;
}

.banners_4 .container .box h5 {
    font-size: 16px;
}

.banners_4 .container .box .sale {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 7px 0px;
}

.banners_4 .container .box .sale span {
    font-size: 25px;
    font-weight: bold;
}

.banners_4 .container .box h6 {
    font-size: 16px;
    font-weight: bold;
}

.banners_4 .container .box .link_btn {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}