@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Inter , sans-serif";
    color: var(--color-heading);
}

:root {
    --main-color: #0d47a1;
    --p-color: #424242;
    --bg-color: #f5f5f5;
    --white-color: #ffffff;
    --color-heading: #121416;
    --border-color: #e0e0e0;
    --sale-color: #ff9800;
    --Dark-Blue: #0a3b86;
}

body {
    padding-top: 170px;
}

span {
    color: var(--main-color);
}

p {
    color: var(--p-color);
}

img {
    width: 100%;
}

input , select , button {
    border: none;
    outline: none;
}

.btns {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn {
    background-color: var(--main-color);
    color: var(--white-color);
    display: flex;
    align-items: center;
    text-transform: capitalize;
    padding: 10px 18px;
    border-radius: 2px;
    cursor: pointer;
    gap: 10px;
    transition: 0.3s;
}

.btn i {
color: var(--white-color);
}

.btn:hover {
    scale: 1.1;
}

.logo {
    cursor: default;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-heading);
    font-family: "DM Sans , sans-serif";
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1350px;
}

@media (max-width:1350px) {
    .container {
        width: 90%;
    }
}




/* start header */

header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 5px 8px 8px #d1d1d13b;
    z-index: 9999;
}

header .top_header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
}

header .top_header .logo {
    width: 180px;
}

header .top_header .search_box {
    width: 610px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    background-color: var(--bg-color);
}

header .top_header .search_box input {
    height: 55px;
    width: 400px;
    padding: 5px 15px 5px 10px;
    background-color: var(--bg-color);
    outline: none;
    border: none;
}

header .top_header .search_box .select_box {
    position: relative;
}

header .top_header .search_box .select_box::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 0;
    width: 1px;
    height: 50%;
    background-color:#b9b9b9;
}

header .top_header .search_box select {
    height: 55px;
    width: 190px;
    outline: none;
    border: none;
    background-color: var(--bg-color);
    font-size: 16px;
    cursor: pointer;
    padding-left: 10px;
    margin-right: 10px;
}

header .top_header .search_box select option {
    font-size: 15px;
}

header .top_header .search_box button {
    height: 55px;
    width: 60px;
    background-color: var(--main-color);
    cursor: pointer;
    font-size: 18px;
}

header .top_header .search_box button i {
    color: var(--white-color);

}

header .top_header .header_icons {
    display: flex;
    gap: 30px;
}

header .top_header .header_icons .icon {
    position: relative;
    cursor: pointer;
}

header .top_header .header_icons .icon i {
    font-size: 25px;
    color: black;
}

/* .heart {
    color: red;
} */

/* .cart {
    color: black;
} */

header .top_header .header_icons .icon .count {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 11px;
    border-radius: 100%;
}

header .bottom_header {
    border-top: 1px solid var(--border-color);
}

header .bottom_header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .bottom_header nav {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 60px;
}

header .bottom_header .category_nav {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 60px;
    position: relative;
    width: 220px;
}

header .bottom_header .category_nav .category_button {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    cursor: pointer;
    background-color: var(--main-color);
    gap: 20px;
    flex-direction: row;
}

header .bottom_header .category_nav .category_button p {
    color: var(--white-color);
    font-size: 15px;
    font-weight: bold;
    width: 300px;
}

header .bottom_header .category_nav .category_button i {
    color: var(--white-color);
}

header .bottom_header .category_nav .category_nav_list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    border: 1px solid #999;
    border-top: 0px;
    display: flex;
    flex-direction: column;
    clip-path: polygon(0 0 , 100% 0 , 100% 0 , 0 0);
    transition: 0.3s ease-in-out;
}

header .bottom_header .category_nav .category_nav_list.active{
    clip-path: polygon(0 0, 100% 0, 100% 100% ,0 100%);
}

header .bottom_header .category_nav .category_nav_list a {
    padding: 14px 10px;
    border: 1px solid var(--border-color);
    font-size: 14px;
    color: var(--color-heading);
}

header .bottom_header .category_nav .category_nav_list a:last-child {
    border-bottom: 0;
}

header .bottom_header .category_nav .category_nav_list a:hover {
    background-color: #d0d0d0;
}

header .bottom_header .nav_links {
    display: flex;
    gap: 35px;
}

header .bottom_header .nav_links li a {
    transition: 0.3s;
    color: var(--color-heading);
}

header .bottom_header .nav_links li:hover a,
header .bottom_header .nav_links .active a {
    color: var(--main-color);
}


/* slide */

.slider {
    position: relative;
}

.slider .container {
    display: flex;
    justify-content: space-between;
}

.slider .banner_2 {
    width: 23%;
    height: 100%;
    object-fit: cover;
}

.slider .banner_2 a {
    height: 100%;
    width: 100%;
}


.slider .container .slide-swp {
    width: 75%;
    overflow: hidden;
    position: relative;
}

.swiper-wrapper {
    height: auto !important;
}

.slider .container .slide-swp .swiper-pagination span {
    background-color: #fff;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--main-color) !important;
    width: 35px !important;
    height: 8px !important;
    border-radius: 30px !important;
}


/* banners_4 */

.banners_4 {
    margin: 40px 0px;
}

.banners_4 .container {
    display: flex;
    justify-content: space-between;
}

.banners_4 .container .box {
    width: 24%;
    background: url(../img/bg_banner3.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 10px;
    position: relative;
    margin-top: 30px;
    transition: 0.3 ease;
}

.banners_4 .container .box:hover {
    scale: 1.05;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.18);
}

.banners_4 .container .box img {
    width: 100px;
    transition: 0.3s;
}

.banners_4 .container .box img:hover {
    scale: 1.1;
}

.banners_4 .container .box h5 {
    font-size: 16px;
}

.banners_4 .container .box .sale {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 7px 0px;
}

.banners_4 .container .box .sale span {
    font-size: 25px;
    font-weight: bold;
}

.banners_4 .container .box h6 {
    font-size: 16px;
    font-weight: bold;
}

.banners_4 .container .box .link_btn {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}


/* start slide */

.slide {
    margin-bottom: 70px;
}

.top_slide {
    position: relative;
    margin-bottom: 20px;
    border-bottom: 3px solid var(--main-color);
}

.top_slide h2 {
    position: relative;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--main-color);
    padding: 10px 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
}


.top_slide h2::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    z-index: 10;
    border-left:20px solid transparent;
    background-color: #fff;
    left: 0;
    border-bottom: 20px solid var(--Dark-Blue);
}

.top_slide h2 i {
    color: var(--white-color);
}

.slide .container {
    position: relative;
}

.slide .container .mySwiper {
    padding: 10px 0px;
}

.slide .container .mySwiper .btn_Swip {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: var(--bg-color);
    color: var(--color-heading);
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    width: 35px;
    height: 35px;
}

.slide .container .mySwiper .btn_Swip::after {
    font-size: 12px;
}

.slide .container .mySwiper .swiper-button-prev {
    left: calc(100% - 80px);
}


/* product card style */

.mySwiper {
    overflow: hidden;
}

.product {
    position: relative;
    background-color: #fff;
    padding: 20px;
    box-shadow: 5px 5px 10px #94949428;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.product .sale_present {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    background-color: var(--sale-color);
    color: var(--white-color);
    padding: 4px 10px;
    font-size: 15px;
}

.product .img_product {
    position: relative;
    height: 180px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.product:hover .img_product {
    scale: 1.1;
}

.product .name_product {
    margin-bottom: 10px;
    color: var(--color-heading);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:2 ;
    -webkit-box-orient: vertical;
}

.product .name_product a:hover{
    text-decoration: underline;
}

.stars {
    margin-bottom: 10px;
}

.stars i {
    color: var(--sale-color);
    font-size: 15px;
}

.price {
    display: flex;
    align-items: center;
    gap: 12px;
}

.price p span {
    color: var(--main-color);
    font-weight: bold;
    font-size: 18px;
}

.price .old_price {
    color: var(--p-color);
    text-decoration: line-through;
    font-weight: normal;
    font-size: 13px;
}

.product .icons {
    display: flex;
    gap: 12px;
    margin-top: 15px;
}

.product .icons .icon_product {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: 0.3s;
}

.product .icons .icon_product:hover{
    background-color: var(--main-color);
    border-radius: 50%;
}

.product .icons .icon_product i {
    font-size: 14px;
}

.product .icons .icon_product:hover i {
    color: var(--white-color);
}

.product .icons .btn_add_cart {
    background-color: var(--main-color);
    color: var(--white-color);
    gap: 5px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid var(--main-color);
    border-radius: 5px;
}

.product .icons .btn_add_cart i {
    color: var(--white-color);
}

.product .icons .btn_add_cart .active {
    color: var(--color-heading);
    background-color: transparent;
}

.product .icons .btn_add_cart .active i {
    color: var(--main-color);
}

.product .icons .btn_add_cart:hover{
    scale: 1.1;
    background-color: var(--Dark-Blue);
}

.pagination_slide1 {
    display: none !important;
}



/* banners  banners 4 */

.banners {
    margin: 50px 0;
}

.banners .banners_boxs {
    display: flex;
    justify-content: space-between;
}

.banners .banners_boxs .box {
    width: 49%;
}

.banners .banners_boxs.banner_3_img .box {
    width: 32%;
}